*{
    margin: 0px;
    padding: 0px;
}
body{font-family: 'Poppins', sans-serif;}


h1{
    font-size: 55px;
    margin: 50px 0px;
}

h2{
    margin: 20px 0px;
    font-size: 45px;
}

h4{
    font-size: 20px;
}

.displayflex{
    display: flex;

}
.orangecolor{
    color: orange;

}

.part1{
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;

}


.welcomearea{
    width: 50%;
    margin-left: 4%;
    margin-top: 2%;
    padding: 2%;

}

.image1{
    width: 50%;

}
div img{
    width: 700px;
}
.para1{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-inline-end: 200px;
    
    
}

.btn{
    text-decoration: none;
    background-image: linear-gradient(60deg,purple, salmon);
    padding: 10px 40px;
    border-radius: 5px;
    margin-top: 20px;
    

}

.part2{
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

.halfwidth{
    width: 50%;
}

.image2{
    margin-left: 4%;
    margin-top: %;
    padding: 2%;

}